body{
	
	font-family:arial;
	padding-top:120px;
}

.container{
	
	width:500px;
	margin: 0 auto;
}

a:link, a:visited {

text-decoration:none;
border-bottom: dotted 1px Slategrey;
color: Slategrey;
	
}

a:hover{
	
color:Blue;
border-bottom: dotted 1px blue;	
}

p{
	
	line-height:30px;
}